.char-select
    h3 Character Select
    .characters
        .main-char
            a(href="game?player=mario"): img(src="https://s-media-cache-ak0.pinimg.com/originals/f8/6c/dc/f86cdc5cab2fe6ccb6039dcc52a10a47.png")