doctype html
html(lang='en', ng-app="game")
    head
        meta(charset='UTF-8')
        title Grid
        link(rel="stylesheet", href="css/main.css")
body(ng-controller="BodyCtrl")
    .screen(ng-view)
    script(src='angular/angular.min.js')
    script(src='angular-route/angular-route.min.js')
    script(src='js/angular-main.js')
    script(src='js/lib/phaser.min.js')
    script(src="js/item.js")
    script(src='js/game.js')
    script(src='/gridwithsocketclient.js')


